@import '../node_modules/bootstrap/scss/bootstrap.scss';

.posts-container {
  width: 100%;
  height: 500px;
  .post-container {
    background: #def;
  }
  .feed-container {
    background: #fed;
  }
  .home-component {
  }
  form {
    display: flex;
    .profile-image {
      border-radius: 50%;
      object-fit: cover;
      width: 70px;
      height: 70px;
    }
    .form-floating {
      margin-top: 1rem;
      width: 100%;
      .textarea {
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
        max-width: 500px;
      }
      .post-btns-component {
        // max-width: 500px;
      }
      #image-input {
        // padding: 20rem;
      }
      .image-displayer {
        background: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  //   *old
  //   form {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     @media (min-width: 540px) {
  //       flex-direction: row;
  //       align-items: start;
  //     }
  //     .profile-image {
  //       border-radius: 50%;
  //       object-fit: cover;
  //       width: 70px;
  //       height: 70px;
  //     }
  //     .form-floating {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       width: 100%;
  //       .textarea-for-posting {
  //         min-height: 5rem;
  //       }
  //       .post-btn {
  //         // float: right;
  //       }
  //     }
  //   }
}

// .mobileThingIMadeUp {
//   background-color: red;
// }

// .posts-container {
//   width: 100%;
//   margin-left: auto;
//   height: 500px;
//   background: red;
//   @media (min-width: 540px) {
//     width: 78%;
//   }
//   @media (min-width: 768px) {
//     width: 83.5%;
//   }
//   @media (min-width: 992px) {
//     width: 87.7%;
//   }
//   @media (min-width: 1200px) {
//     width: 89.5%;
//   }
//   @media (min-width: 1298px) {
//     width: 73.7%;
//   }
// }
