@import '../node_modules/bootstrap/scss/bootstrap.scss';

.posts-container {
  width: 100%;
  height: 500px;
  .post-container {
    background: #def;
    padding: 1rem;
    overflow: hidden;
  }
  .home-component {
  }
  form {
    display: flex;
  }
}
