@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 100%;
  max-width: 300px;
  margin: auto;
  height: 100vh;

  // background: red;
}
