@import '../../node_modules/bootstrap/scss/bootstrap.scss';
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}
.small-profile-image {
  border-radius: 50%;
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.form-floating {
  margin-top: 1rem;
  width: 100%;
  margin-left: 1rem;
  .textarea {
    display: block;
    width: 90%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    border-bottom: 1px solid black;
    padding: 1rem;
  }
  .post-btns-component {
    #image-input {
      font-size: 12px;
      margin-bottom: 1rem;
    }
    .post-btn {
      // margin-bottom: 1rem;
    }
  }

  .image-displayer {
    background: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.feed-container {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  .feed-card {
    .posted-content {
      .name-and-text-container {
        margin-left: 1rem;
      }
    }
    .posted-image-container {
      img {
        width: 70%;
        margin-left: 86px;
      }
    }
  }
}
